{% extends 'base.html' %}
<title>
    {% block title %}
        Register
    {% endblock %}
</title>

{% block content %}
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0; url={% url 'home' %}" />
{% else %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Members</a></li>
        <li class="breadcrumb-item active" aria-current="page">Register</li>
    </ol>
</nav>  

<h1>Register</h1>
<div class="form-group">
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Register</button>
    </form>
</div>
{% endif %}
{% endblock %}