{% extends 'base.html' %}
<title>
    {% block title %}
        Cagegory
    {% endblock %}
</title>

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Category {{ cats }}</li>
    </ol>
</nav>  
{% if cat %}
    <h1>{{ cats }}</h1>
        {% for post in cat %}
            <h3><a href="{% url 'detail' post.pk %}">{{ post.title }} </a></h3>
            <small>By: {{ post.author }}</small><br>
            {{ post.body|slice:":200"|safe }}
        {% endfor %}
{% else %}
    <h1>No posts found...</h1>
{% endif %}
{% endblock %}